.browsePage{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    .title{
        text-align: center;
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 40px;
        gap: 40px;
        justify-content: space-evenly;
        // float: left;
        .item{
            // margin: 0 auto;
            display: flex;
            padding: 5px;
            img{
                aspect-ratio: 1/1;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
            .text{
                padding: 0 10px;
                width: 150px;
                height: 200px;
                .name{
                    font-weight: bold;
                }
                .desc{

                }
            }
        }
    }
}