footer{
    background-color: rgb(173, 238, 205);;
    .container{
        height: 150px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}